@model Attendance.Web.Models.Employee.ImportViewModel

@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EmployeeViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImportText)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ImportText)
            @Html.ValidationMessageFor(model => model.ImportText)
        </div>

        <p>
            <input type="submit" value="Import" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
