@model Attendance.Web.Models.Employee.EmployeeIndexModel

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

@Html.ActionLink("Create", "Create", "Employee")
@Html.ActionLink("Import", "Import", "Employee")

<ul>
@foreach (var employee in Model.Employees)
{
    <li>@employee.FirstName @employee.LastName @Html.ActionLink(employee.SerialNumber, "Edit", new { id = employee.SerialNumber })</li>
}
</ul>